{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1>All Posts</h1>

{% if user.is_authenticated %}
    <div id="new-post">
        <h5>New Post</h5>
        <textarea name="post-content" id="post-content" rows="3"></textarea>
        <button id="post-button" class="btn btn-primary">Post</button>
    </div>
{% endif %}

{% for post in posts %}
<div class="post" id="post-{{post.id}}">
    <a class="post-user" href="{% url 'user' post.poster.id %}">{{post.poster}}</a>
    <p id="content-{{post.id}}" class="post-content">{{post.content}}</p>
    <textarea class="edit-text" id="edit-{{post.id}}">{{post.content}}</textarea>
    <p class="timestamp">{{post.timestamp}}</p>
    <div class="post-bottom">
        <p>{{post.like_count}} Like{% if post.like_count != 1%}s{% endif %}</p>
        {% if user.is_authenticated %}
            <button class="like-button" id="like-button-{{post.id}}" onclick="like_post({{post.id}})">{% if post in user.liked.all %}&#10084;{% else %}&#9825;{% endif %}</button>
        {% endif %}
        {% if user == post.poster%}
            <button class="btn btn-primary edit-button" id="edit-button-{{post.id}}" onclick="edit_post({{post.id}})">Edit</button>
            <button class="btn btn-primary save-button" id="save-button-{{post.id}}" onclick="save_post({{post.id}})">Save</button>
        {% endif %}
    </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}