{% extends "personal/layout.html" %}

{% block title %}
Network Project
{% endblock %}

{% block body %}
<img class="project-pic" src="static/personal/images/network.jpg" alt="socialmedia">
<p class="project-about">
    This project is a a Twitter-like social network website for making posts 
    and following users. Users can also like posts which will make fetch calls
    to the API using JavaScript.
    <br> 
    To sign in you can use any of the following made up accounts:
    <br>
    Charlie <br>
    Dale <br>
    Earl <br>
    Fred <br>
    The password for the accounts is password <br>
    You can also register for your own account with whatever real or made up email
    of your choice. <br>
    Once logged in you'll be taken to the main feed by default. Feel free to make a
    post, like some posts, follow someone and more.
    <br>
    The code for the app can be found <a href="https://github.com/jalu589/network" target="_blank" rel="noopener noreferrer">here</a>. <br>
    To view the actual project in action click below. <br>
    <a href="network" target="_blank" rel="noopener noreferrer">Check it out</a>
{% endblock %}