{% extends "personal/layout.html" %}

{% block title %}
Auction Project
{% endblock %}

{% block body %}
<img id="auction-pic" class="project-pic" src="static/personal/images/auction.jpg" alt="bidders">
<p class="project-about">
    This project is an eBay-like e-commerce auction site that will allow users to post 
    auction listings, place bids on listings, comment on those listings, and add 
    listings to a “watchlist.”
    <br> 
    To sign in you can use any of the following made up accounts:
    <br>
    alice@example.com <br>
    bob@example.com <br>
    The password for the accounts is password <br>
    You can also register for your own account with whatever real or made up email
    of your choice. <br>
    Once logged in you'll be taken to the active listings page by default. Feel free to
    create your own listing, place a bid on something or make a comment.
    <br>
    The code for the app can be found <a href="https://github.com/jalu589/commerce" target="_blank" rel="noopener noreferrer">here</a>. <br>
    To view the actual project in action click below. <br>
    <a href="auction" target="_blank" rel="noopener noreferrer">Check it out</a>
{% endblock %}