{% extends "personal/layout.html" %}

{% block title %}
Contact
{% endblock %}

{% block body %}
<img class="project-pic" src="static/personal/images/message.jpg" alt="message-bubble">
<p class="project-about">
    Hello there! If you like what you see or even if you don't and you have some insights
    on how I can approve, definitely reach out. You can shoot me an email at jtluns9@yahoo.com
    or call or text me at (925)-673-1600 
    <br>
    <br>
    If you prefer to go through LinkedIn then you can use this link 
    <a href="https://www.linkedin.com/in/jacob-lunsford-27530a138/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    to find me on there.
    <br>
    <br>
    You can also view and download my resume using the tab at the top of the page.
    
    
{% endblock %}