{% extends "personal/layout.html" %}

{% block title %}
Jacob Lunsford
{% endblock %}

{% block body %}
<div id="top">
    <img id="profile" src="static/personal/images/profile.jpg" alt="Jacob">
    <div id="image-caption">
        <p class="greeting">Hey, I'm</p>
        <p class="greeting">&mdash;Jacob Lunsford&mdash;</p>
    </div>
</div>

<hr>

<div class="about">
    <p id="description">
        Jacob is a graduate of the University of Denver with a degree in business 
        administration in marketing and former Division-I student athlete. While 
        at university he successfully balanced competing at the highest level of his 
        sport while maintaining exceptional grades and earning a spot on the Dean's 
        List. He values learning and since graduating has continued his education 
        through a Bible school in Sweden, a Spanish school in Guatemala and even 
        teaching himself coding and computer science through various online sources 
        including Harvard's CS50 classes.
        <br>
        <br>
        For the past 3 years Jacob has worked as a Residential Solar Panel Advisor. 
        He is known to be a meticulous hard worker by his coworkers and employers. Jacob 
        believes in putting every ounce of effort into anything he does. Jacob is an 
        extremely driven, passionate individual who is inspired to make an impact. 
        His interests include exercise, sports, the outdoors, Star Wars, Warrior 
        basketball and the San Francisco Giants.
    </p>
    <div class="collage">
        <div class="collage-top">
            <img class="school" src="static/personal/images/denver.jpg" alt="university-of-denver">
            <img class="school" src="static/personal/images/holsby.jpg" alt="torchbearers-holsby">
        </div>
        <div class="collage-bottom">
            <img class="school" src="static/personal/images/csa.jpg" alt="christian-spanish-academy">
            <img class="school" src="static/personal/images/cs50.jpg" alt="harvard-cs50">
        </div>
    </div>
</div>

<hr>

<div class="about">
    <div class="collage">
        <div class="collage-top">
            <img class="school" src="static/personal/images/python.jpg" alt="python-logo">
            <img class="school" src="static/personal/images/javascript.jpg" alt="javascript-logo">
        </div>
        <div class="collage-bottom">
            <img class="school" src="static/personal/images/html.jpg" alt="html-logo">
            <img class="school" src="static/personal/images/css.jpg" alt="css-logo">
        </div>
    </div>

    <p id="experience">
        Jacob first took an interest in coding during a digital marketing class he took while
        at the University of Denver. He learned to build basic web pages and it really
        piqued his interest. Unfortunately Jacob was already in his final year of studies and
        ready to graduate but the experience always stuck with him in the back of his mind.
        After working several years in sales Jacob decided to switch things up and began learning
        to code more in depth using many freely available resources online such as freeCodeCamp,
        Harvard's CS50 program, and countless other tutorials on Youtube. Jacob has primarily
        focused on the programming language Python but has also gained a basic understanding of 
        languages such as Javascript, HTML, CSS, SQL, Django and more. Please see the projects
        tab above to check out some of his work and get a more in depth look at what he's learned 
        so far.
    </p>
</div>
{% endblock %}